/.idea

/barcode-reader

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# logs
/log

# api tokens
/secrets

# testing folders
/testing

# fonts
ttf*

# virtual env
venv*

# used font
!/ttf/Symbola.ttf